<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ph.bittelasia.meshtv">

    <application
        android:name=".MeshTV"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".setup.LauncherActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name=".ds.Ds"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name=".setup.configure.ConfigurationActivity"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name=".setup.expire.ExpirationActivity"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name=".setup.splash.SplashActivity"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name=".iptv.IPTV"/>
    </application>

</manifest>